@keyframes moreMenuEffect {
    from {
        top: 130%;
        opacity: 0;
    }
    to {
        top: 100%;
        opacity: 1;
    }
}

@keyframes mobileMenuSlideIn {
    from {
        width: 0%;
        opacity: 0.5;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes processingEffect {
    from {
        color: inherit;
    }
    to {
        color: #C9782F;
    }
}